@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  overflow: hidden; /* Evita el desplazamiento vertical cuando se aplica el desenfoque */
  position: relative; /* Permite que el pseudo-elemento esté posicionado en relación con el cuerpo */
  font-family: "Josefin Sans", sans-serif;
}

body::before {
  content: "";
  background-image: url(https://w7.pngwing.com/pngs/640/225/png-transparent-computer-icons-playing-card-poker-gambling-card-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px); /* Ajusta el valor según tu preferencia de desenfoque */
  position: fixed; /* Fija el pseudo-elemento en la ventana gráfica */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del cuerpo */
}

#carta {
  border: 1px solid grey;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  background: rgb(249, 248, 248);
  margin: 10px auto 20px auto;
  box-shadow: -1px -1px 6px 0 rgb(221, 102, 102),
    4px 4px 16px 2px rgb(41, 63, 108);
}
#titulo {
  margin: auto;
  text-align: center;
  font-size: 60px;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    0px -1px 1px rgba(0, 0, 0, 0.3);
}

#boton-nueva {
  margin: auto;
  width: 300px;
  text-align: center;
}
.boton {
  width: 150px;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px;
}
#cartaArriba {
  height: 25%;
  border-radius: 20px 20px 0px 0px;
  font-size: 100px;
  text-align: left;
}
#cartaCentro {
  height: 50%;
  font-size: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#cartaAbajo {
  height: 25%;
  border-radius: 20px 20px 0px 0px;
  font-size: 100px;
  text-align: left;
  transform: rotate(180deg);
}
